html, body {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.2em;
    color: #dedede;
    background-color: #009c1a;
}

#myHeader, #myFooter {
    background-color: #000000;
}

#myHeader {
    font-weight: bold;
    font-size: 150%;
}

#myFooter {
    font-size: 75%;
    text-align: center;
}

#PlayingField {
    background-image: url(../image/background.jpg);
}

p {
    color: #F8F172;
}

button {
    width: 180px;
    height: 40px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    border: solid 1px #18a305;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 18px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #c6ffbf;
    background-color: #00c22d;
    background-image: -moz-linear-gradient(top, #00c22d 0%, #009c1a 100%);
    background-image: -webkit-linear-gradient(top, #00c22d 0%, #009c1a 100%);
    background-image: -o-linear-gradient(top, #00c22d 0%, #009c1a 100%);
    background-image: -ms-linear-gradient(top, #00c22d 0%, #009c1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#009c1a', endColorstr = '#009c1a', GradientType = 0);
    background-image: linear-gradient(top, #00c22d 0%, #009c1a 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

#DealersHand, #PlayersHand {
    background-color: #009c1a
}