html, body, #DealersHand, #PlayersHand, #PlayingField {
    height: 100%;
    width: 100%;
}

html, body {
    padding: 0;
    margin: 0;
}

img {
    margin: 27px;
}

#myHeader {
    height: 50px;
}

#DealersHand, #PlayersHand {
    height: 150px;
}

#PlayingField {
    height: 350px;
}

#myFooter {
    height: 200px;
}

#WinState {
    margin-left: 20px;
}